# Xmake cache
.xmake/
build/
linux/
./linux/game

# sprites sin utilizar
assets/sprites/unused
/unused
assets/sfx/unused
assets/music

# MacOS Cache
.DS_Store

# importantes
*.out
*.o
*.bin
*.env
*.old
*.zip
*.mp3
